@font-face {
  font-family: 555;
  src: url(./karla/Karla-Regular.ttf);
}
.toliq{
  width: 100%;
  
  .blok{
    width: 100%;
    max-width: 940px;
    text-align: center;
    margin: auto;
       .heart{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
       }
    }
    .price{
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    button{
      margin: auto;
      border: none;
      background-color: transparent;
      letter-spacing: 2px ;
      text-transform: uppercase;
      font-weight:400 ;
      font-size: 12px;
      line-height: 18px;
      margin-top: 115px;
      margin-bottom: 35px;
      font-family:555;
    }
    .blok .cards{
     max-width: 970px;
     width: 100%;
      margin-top: 50px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
    }
    .blok h3{
      padding-top: 165px;
      text-align: center;
      letter-spacing: 2px;
      line-height: 18px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 400;
      font-family:555;
    }
    .blok .sxema{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 100px;
      margin-bottom: 130px;
    }
    .blok .sxema .sxema-left{
     
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      flex-wrap: wrap;
      height: 280px;
      width: 460px;
       #blk{
        width: 280px;
        height: 100%;
       }
       ul{
        width: 160px;
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
       
        li{
            
            img{
              width: 160px;
              height: 130px;
              margin: 0;
              padding: 0;
             
            }
        }
       }
    }
    .blok .sxema .sxema-right{
     
      text-align: justify;
      width: 430px;
      h5{
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 18px;
        letter-spacing: 2px;
        color: #1D1F2E;
        font-family:555;
      }
      h1{
        font-weight: 400;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 2px;
        color: #1D1F2E;
        width: 350px;
        padding-top: 15px;
        font-family:555;
      }
      p{
        font-weight: 400;
        font-size: 16px;
      
        line-height: 28px;
        letter-spacing: 2px;
        color: #1d1f2e9a;
        width: 350px;
        padding-top:15px ;
        font-family:555;
      }
      button{
        width: 175px;
        background-color: #1D1F2E;
        color: #ffff;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 2px;
        font-size: 12px;
        margin-top: 25px;
        font-family:555;
      }
     
    }
  
    #uzun{
      width: 100%;
      margin-bottom: 100px;
    }

 .restangle{
  width: 100%;
 }



}

 